

.map-container {
    width: 100%; 
    height: 100%;
}

#mapid { 
        width: 100%; 
        height: 700px; 
        
    }.info { 
        padding: 6px 8px; 
        font: 14px/16px Arial, Helvetica, sans-serif; 
        background: white; 
        background: rgba(255,255,255,0.8); 
	    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
        border-radius: 5px; 
        float: right;
    }.info h4 { 
        margin: 0 0 5px; 
        color: #777; }
	.legend { 
		text-align: left; 
		line-height: 18px; 
        color: #555; 
    }.legend i { 
        width: 18px; 
        height: 18px; 
        float: left; 
        margin-right: 8px; 
        opacity: 0.7; 
    }

.button {


    display: inline-block;
    border-radius: 4px;
    background-color: #BEBEBE;
    border: none;
    text-align: center;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    margin-top: 5px;
}
.button:hover {
    background-color: gray;
}


.add-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #98cf3f;
    border: none;
    text-align: center;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    margin-top: 5px;
    
}
.add-button:hover {
    background-color: #92B558;   
}

.remove-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #d53939;
    border: none;
    text-align: center;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    margin-top: 5px;
}
.remove-button:hover {
    background-color: #c74848;
}


#graph-button, #stationlist-button, #remove-all-button {
    color: black;
    position: relative; 
    z-index: 499;
    
    display: none;
    height: 10%;
    width: 10%;
    float: right; 

    top: 85%;
}

#station-list {
    height: 85%;
    min-width: 20vw;
    display: none;
    float: right;
    position: relative; 
    z-index: 499;
    margin-top: 9%;
    margin-bottom: 9%;
    overflow-y: scroll;

}

#station-box {
    padding-top: 5px; 
    background: transparent; 
    color: black;
    
}
#search-container{
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10px;
    width: 30%;
    float: left;
    position: relative; 
    z-index: 500;
    display: block;
}
#searchbar{
    width: 100%;
    float:left;
    height: 40px;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    
}

#suggestion-field{
    background: transparent;
    margin-top: 50px;
    margin-left: 5px;
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.suggestion-box{
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px black solid;
    border-radius: 3px;
    background: lightblue;
}