<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/graph.css' />

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

  <style>
	canvas{
  	/*width:500px !important;
  	height:300px !important;*/
	margin: auto;
        padding: 20px;
	}
  </style>

<p id="output1"></p>
<div class="slidecontainer1">
  <input type="range" min="1547986366" max="1548850366" value="1" class="slider" id="myRange1">
</div>

<p id="output2"></p>
<div class="slidecontainer2">
  <input type="range" min="1547986366" max="1548850366" value="1" class="slider" id="myRange2">
</div>

<input type="checkbox" checked=checked id="airtemp"/>Air_temp
<input type="checkbox" checked=checked id="Road_temp"/>Road_temp
<input type="checkbox" checked=checked id="Air_humidity"/>Air_humidity
<input type="checkbox" checked=checked id="Wind_speed"/>Wind_speed
<input type="checkbox" checked=checked id="current_temp"/>current_temp


<div id="type1">
  <canvas id="myChart1"></canvas>
</div>
<div id="type2">
  <canvas id="myChart2"></canvas>
</div>
<div id="type3">
  <canvas id="myChart3"></canvas>
</div>
<div id="type4">
  <canvas id="myChart4"></canvas>
</div>
<div id="type5">
  <canvas id="myChart5"></canvas>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="javascripts/map/stations.js"></script>
 <script src="javascripts/graph/getWeatherData.js"></script>
 <script type="text/javascript" src="/javascripts/graph/grafer.js"></script>


<script>

var stations = ['SE_STA_VVIS1524','SE_STA_VVIS1525','SE_STA_VVIS1536','SE_STA_VVIS1544','SE_STA_VVIS1557','SE_STA_VVIS2240'];

async function rungraphs(){
	for(var i = 0; i < stations.length; i++){
		await getWeatherData(stations[i],'2019-01-20 13:12:12','2019-01-23 13:23:20');
		await getlatest(stations[i]);
	}
	await roadtemp();

	await airtemp();

	await humiditygraph();

	await windspeed();

	await currenttempgraph();

}

//rungraphs();


//testfunction
async function test(){
await getWeatherData('SE_STA_VVIS2240','2019-01-20 13:12:12','2019-01-23 13:23:20');
await getWeatherData('SE_STA_VVIS1524','2019-01-20 13:12:12','2019-01-23 13:23:20');

await roadtemp();

await airtemp();

await humiditygraph();

await windspeed();

await getlatest('SE_STA_VVIS1524');

await getlatest('SE_STA_VVIS2240');

await currenttempgraph();
}

test();



$(function () {
        $("#airtemp").click(function () {
            if ($(this).is(":checked")) {
                $("#myChart1").show();
              
            } else {
                $("#myChart1").hide();
                
            }
        });
    $("#Road_temp").click(function () {
            if ($(this).is(":checked")) {
                $("#myChart2").show();
              
            } else {
                $("#myChart2").hide();
                
            }
        });
    $("#Air_humidity").click(function () {
            if ($(this).is(":checked")) {
                $("#myChart3").show();
              
            } else {
                $("#myChart3").hide();
                
            }
        });
    $("#Wind_speed").click(function () {
            if ($(this).is(":checked")) {
                $("#myChart4").show();
              
            } else {
                $("#myChart4").hide();
                
            }
        });
    $("#current_temp").click(function () {
            if ($(this).is(":checked")) {
                $("#myChart5").show();
              
            } else {
                $("#myChart5").hide();
                
            }
        });
 });



var slider1 = document.getElementById("myRange1");
var output1 = document.getElementById("output1");
output1.innerHTML = slider1.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider1.oninput = function() {
 var d = new Date(0);
 d.setUTCSeconds(this.value);
  output1.innerHTML = d;
} 

var slider = document.getElementById("myRange2");
var output = document.getElementById("output2");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  var d = new Date(0);
  d.setUTCSeconds(this.value);
  output.innerHTML = d;
} 

</script>

 

  </body>
</html>
