<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/graph.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body onload="initlatestgraf()">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <style>
	canvas{
  	width:500px !important;
  	height:300px !important;
	margin: 35px;
        padding: 35px;
	}
	
	#type1 {
	float: right;
	}
	#type2 {
	float: left;
	}
</style>

 <form>
  <input type="checkbox" name="alt" value="alt1"> Alternativ1<br>
  <input type="checkbox" name="alt" value="alt2" checked>Alternativ2<br>
  <input type="submit" value="Submit">
</form> 

<div id="type1">
  <canvas id="myChart1"></canvas>
  <canvas id="myChart2"></canvas>
</div>

<div id="type2">
  <canvas id="myChart3"></canvas>
  <canvas id="myChart4"></canvas>

</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="javascripts/map/stations.js"></script>
 <script src="javascripts/graph/getWeatherData.js"></script>
 <script type="text/javascript" src="/javascripts/graph/grafer.js"></script>


<script></script>

 

  </body>
</html>
