<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/graph.css' />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

<ul>
  <li><a href="/">Hem/kartan</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Grafalternativ</a>
    <div class="dropdown-content">
<div id="Checkboxes">
 <label id="prov4" class="container">Lufttemperatur
  <input type="checkbox"  checked="checked" id="airtemp">
  <span class="checkmark"></span>
</label>

<label id="prov5" class="container">Vägtemperatur
  <input type="checkbox"  checked="checked" id="Road_temp">
  <span class="checkmark"></span>
</label>

<label id="prov6" class="container">Luftfuktighet
  <input type="checkbox"  checked="checked" id="Air_humidity">
  <span class="checkmark"></span>
</label>

<label id="prov7" class="container">Vindhastighet
  <input type="checkbox"  checked="checked" id="Wind_speed">
  <span class="checkmark"></span>
</label> 

<label id="prov8" class="container">Nuvarande lufttemperatur
  <input type="checkbox" checked="checked" id="current_temp">
  <span class="checkmark"></span>
</label> 
<label id="prov12" class="container">Nuvarande daggpunkt
  <input type="checkbox" checked="checked" id="daggpunkt">
  <span class="checkmark"></span>
</label> 
<label id="prov9" class="container">Nuvarande vägtemperatur
  <input type="checkbox" checked="checked" id="current_road_temp">
  <span class="checkmark"></span>
</label> 

<label id="prov10" class="container">Nuvarande luftfuktighet
  <input type="checkbox" checked="checked" id="current_hum">
  <span class="checkmark"></span>
</label> 

<label id="prov11" class="container">Nuvarande vindhastighet
  <input type="checkbox" checked="checked" id="current_windspeed">
  <span class="checkmark"></span>
</label> 

<label id="prov1" class="container">Nuvarande medellufttemperatur län
  <input type="checkbox" checked="checked" id="current_temp_prov">
  <span class="checkmark"></span>
</label> 

<label id="prov2" class="container">Nuvarande medelvägtemperatur län
  <input type="checkbox" checked="checked" id="current_road_prov">
  <span class="checkmark"></span>
</label> 

<label id="prov3" class="container">Nuvarande medellufttemperatur över tid län
  <input type="checkbox" checked="checked" id="overtime_road_prov">
  <span class="checkmark"></span>
</label> 
</div>
    </div>
  </li>
</ul>


<div id="slideroptions">

<div id="starttime">
<p id"stopandstartp">STARTDATUM</p>
<p id="output1"></p>
<div class="slidecontainer1">
  <input type="range" min="1545230510" max="0" value="1" class="slider" id="myRange1">
</div>
 <input type="date" id="timeintervallpick1" min="2018-12-19">
<div id="time24h">
  <input class="timeinput24" id="timeinput241" type="number" min="0" max="23" placeholder="23">:
  <input  class="timeinput24" id="timeinput242" type="number" min="0" max="59" placeholder="00">
</div>
</div>

<div id="stoptime">
<p id"stopandstartp">SLUTDATUM</p>
<p id="output2"></p>
<div class="slidecontainer2">
  <input type="range" min="1545230510" max="0" value="1" class="slider" id="myRange2">
</div>
 <input type="date" id="timeintervallpick2" min="2018-12-19">
<div id="time24h">
  <input  class="timeinput24" id="timeinput243" type="number" min="0" max="23" placeholder="23">:
  <input  class="timeinput24" id="timeinput244" type="number" min="0" max="59" placeholder="00">
</div>
</div>
</div>
<button id="ButtonTimeIntervall" type="button" onclick="rungraphs(starttime,stoptime)">Time intervall</button> 


<div id="type1">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type1','airtemp')">X</button> 
  <canvas id="myChart1"></canvas>
</div>
<div id="type2">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type2','Road_temp')">X</button> 
  <canvas id="myChart2"></canvas>
</div>
<div id="type3">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type3','Air_humidity')">X</button> 
  <canvas id="myChart3"></canvas>
</div>
<div id="type4">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type4','Wind_speed')">X</button> 
  <canvas id="myChart4"></canvas>
</div>
<div id="type5">
  <button class="hidebut"  id="Canvashidebutton" type="button" onclick="hideelements('type5','current_temp')">X</button> 
  <canvas id="myChart5"></canvas>
</div>
<div id="type12">
  <button class ="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type12','daggpunkt')">X</button> 
   <canvas id="myChart12"></canvas>
 </div>
<div id="type6">
  <button class="hidebut"  id="Canvashidebutton" type="button" onclick="hideelements('type6','current_road_temp')">X</button> 
  <canvas id="myChart6"></canvas>
</div>
<div id="type7">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type7','current_hum')">X</button> 
  <canvas id="myChart7"></canvas>
</div>
<div id="type8">
 <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type8','current_windspeed')">X</button> 
  <canvas id="myChart8"></canvas>
</div>
<div id="type9">
 <button class ="province" id="Canvashidebutton" type="button" onclick="hideelements('type9','current_temp_prov')">X</button> 
  <canvas id="myChart9"></canvas>
</div>

<div id="type10">
  <button class ="province" id="Canvashidebutton" type="button" onclick="hideelements('type10','current_road_prov')">X</button> 
   <canvas id="myChart10"></canvas>
 </div>

 <div id="type11">
  <button class ="province" id="Canvashidebutton" type="button" onclick="hideelements('type11','overtime_road_prov')">X</button> 
   <canvas id="myChart11"></canvas>
 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
 <script src="javascripts/map/stations.js"></script>
 <script src="javascripts/graph/getWeatherData.js"></script>
 <script type="text/javascript" src="/javascripts/graph/graphs.js"></script>
 
<script>


var stationsarrayid = [];
var stationname = [];
var thechosendata = window.opener.chosenStations;
for(var i=0;i<thechosendata.length;i++){
	stationsarrayid.push(thechosendata[i].id);
	stationname.push(thechosendata[i].name);
}

var latestWeatherData = window.opener.latestWeatherData;
var chosenintcounties=[]
var chosenCounties = window.opener.chosenCounties;
for (var i=0; i<chosenCounties.length;i++){
  chosenintcounties.push(parseInt(chosenCounties[i]));
}
hide1("hidebut");
hide1("province");
if(stationsarrayid.length<=0){
  for(var i =4;i<=11;i++){
    hidebyid("prov"+i);
  }
  for(var y=1;y<9;y++){
    hidebyid("type"+y);
  }
  hidebyid("type12");
}
if(chosenCounties.length<=0){
  hidebyid("prov1");
  hidebyid("prov2");
  hidebyid("prov3");
}
document.getElementById("myRange1").max = Math.floor(Date.now() / 1000);
document.getElementById("myRange2").max = Math.floor(Date.now() / 1000);


var currentDate = new Date();

var starttime='2019-01-20 13:12:12';
var stoptime='2019-01-20 16:23:20';


async function rungraphs(starttime, stoptime){
	var a = new Date(starttime.substring(0,10)+"T"+starttime.substring(11,)+"Z");
	var b = new Date(stoptime.substring(0,10)+"T"+stoptime.substring(11,)+"Z");
	if(+a < +b){
	//arrayclear
	await cleararrays();
	
	//canvasclear
	const canvasclearvar1 = document.getElementById('myChart1').getContext('2d');
        canvasclearvar1.clearRect(0,0, document.getElementById('myChart1').width, document.getElementById('myChart1').height);

	const canvasclearvar2 = document.getElementById('myChart2').getContext('2d');
        canvasclearvar2.clearRect(0,0, document.getElementById('myChart2').width, document.getElementById('myChart2').height);

	const canvasclearvar3 = document.getElementById('myChart3').getContext('2d');
        canvasclearvar3.clearRect(0,0, document.getElementById('myChart3').width, document.getElementById('myChart3').height);

	const canvasclearvar4 = document.getElementById('myChart4').getContext('2d');
        canvasclearvar4.clearRect(0,0, document.getElementById('myChart4').width, document.getElementById('myChart4').height);

	const canvasclearvar5 = document.getElementById('myChart5').getContext('2d');
        canvasclearvar5.clearRect(0,0, document.getElementById('myChart5').width, document.getElementById('myChart5').height);

	const canvasclearvar6 = document.getElementById('myChart6').getContext('2d');
		canvasclearvar6.clearRect(0,0, document.getElementById('myChart6').width, document.getElementById('myChart6').height);

	const canvasclearvar7 = document.getElementById('myChart7').getContext('2d');
		canvasclearvar7.clearRect(0,0, document.getElementById('myChart7').width, document.getElementById('myChart7').height);

	const canvasclearvar8 = document.getElementById('myChart8').getContext('2d');
		canvasclearvar8.clearRect(0,0, document.getElementById('myChart8').width, document.getElementById('myChart8').height);

	const canvasclearvar9 = document.getElementById('myChart9').getContext('2d');
		canvasclearvar9.clearRect(0,0, document.getElementById('myChart9').width, document.getElementById('myChart9').height);

	const canvasclearvar10 = document.getElementById('myChart10').getContext('2d');
		canvasclearvar10.clearRect(0,0, document.getElementById('myChart10').width, document.getElementById('myChart10').height);
    
  const canvasclearvar11 = document.getElementById('myChart11').getContext('2d');
  canvasclearvar11.clearRect(0,0, document.getElementById('myChart11').width, document.getElementById('myChart11').height)

  const canvasclearvar12 = document.getElementById('myChart12').getContext('2d');
  canvasclearvar12.clearRect(0,0, document.getElementById('myChart12').width, document.getElementById('myChart12').height)
    //functioncalls to get data
    
    if(stationsarrayid.length>0){
      await getWeatherData(stationsarrayid,starttime,stoptime,stationname);
      await getlatest(stationsarrayid,stationname);
    }
    if(chosenintcounties.length>0){
      await getAverageTempProvince(chosenintcounties,starttime,stoptime);
      await getLatestAvgCountyWeatherData(chosenCounties);
    }

    if(stationsarrayid.length>0){
      	//functions to draw graphs
      await roadtemp();

      await airtemp();

      await humiditygraph();

      await windspeed();

      await currenttempgraph();

      await currentroadtempgraph();

      await currenthumgraph();

      await currentwindspeedgraph();

      await daggpunktfunc();
      await currentdaggpunktfunc();
      show1("hidebut");
    }

  if(chosenintcounties.length>0){
    await roadtempprov()

    await currentairtempgraphprov();

    await currentroadtempgraphprov();
    show1("province");
  }
}
}

rungraphs(starttime,stoptime);


$(function () {
        $("#airtemp").click(function () {
            if ($(this).is(":checked")) {
                $("#type1").show();
              
            } else {
                $("#type1").hide();
                
            }
        });
    $("#Road_temp").click(function () {
            if ($(this).is(":checked")) {
                $("#type2").show();
              
            } else {
                $("#type2").hide();
                
            }
        });
    $("#Air_humidity").click(function () {
            if ($(this).is(":checked")) {
                $("#type3").show();
              
            } else {
                $("#type3").hide();
                
            }
        });
    $("#Wind_speed").click(function () {
            if ($(this).is(":checked")) {
                $("#type4").show();
              
            } else {
                $("#type4").hide();
                
            }
        });
    $("#current_temp").click(function () {
            if ($(this).is(":checked")) {
                $("#type5").show();
              
            } else {
                $("#type5").hide();
                
            }
        });
    $("#current_road_temp").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type6").show();
		      
		    } else {
		        $("#type6").hide();
		        
		    }
		});
    $("#current_hum").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type7").show();
		      
		    } else {
		        $("#type7").hide();
		        
		    }
	});
   $("#current_windspeed").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type8").show();
		      
		    } else {
		        $("#type8").hide();
		        
		    }
	});
   $("#current_temp_prov").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type9").show();
		      
		    } else {
		        $("#type9").hide();
		        
		    }
	});
   $("#current_road_prov").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type10").show();
		      
		    } else {
		        $("#type10").hide();
		        
		    }
  });
  $("#overtime_road_prov").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type11").show();
		      
		    } else {
		        $("#type11").hide();
		        
		    }
  });
  $("#daggpunkt").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type12").show();
		      
		    } else {
		        $("#type12").hide();
		        
		    }
  });
 });

function hide1(classvar){
  var appBanners = document.getElementsByClassName(classvar), i;
for (var i = 0; i < appBanners.length; i ++) {
    appBanners[i].style.display = 'none';
}
}

function show1(classvar){
  var appBanners = document.getElementsByClassName(classvar), i;
for (var i = 0; i < appBanners.length; i ++) {
    appBanners[i].style.display = 'block';
}
}

function hidebyid(id){
  var x = document.getElementById(id);
  x.style.display = "none";
}

function hideelements(id,box){
  var x = document.getElementById(id);
  x.style.display = "none";
  document.getElementById(box).checked = false;
}

document.querySelectorAll('input[type=number]')
  .forEach(e => e.oninput = () => {
    // Always 2 digits
    if (e.value.length >= 2) e.value = e.value.slice(0, 2);
    // 0 on the left (doesn't work on FF)
    if (e.value.length === 1) e.value = '0' + e.value;
    // Avoiding letters on FF
    if (!e.value) e.value = '00';
  });

//Slider1
var slider1 = document.getElementById("myRange1");
var output1 = document.getElementById("output1");
output1.innerHTML = '2019-01-20 13:12:12'; 


slider1.oninput = function() {
	parseour1();
} 


//dateformat input1
var dateinput1 = document.getElementById("timeintervallpick1");
dateinput1.oninput = function() {
	var date = new Date(this.value)
	date.setHours(parseInt(document.getElementById('timeinput241').value)+1,parseInt(document.getElementById('timeinput242').value));
	document.getElementById("myRange1").value=date.getTime()/1000;
	parseour1();
}

//timeformat input1
var timeformat1 = document.getElementById("timeinput241");
timeformat1.oninput = function() {
	var date = new Date(document.getElementById("timeintervallpick1").value)
	console.log(this.value)
	date.setHours(parseInt(this.value),parseInt(document.getElementById('timeinput242').value));
	document.getElementById("myRange1").value=date.getTime()/1000;
	parseour1();
}

//timeformat input2
var timeformat2 = document.getElementById("timeinput242");
timeformat2.oninput = function() {
	var date = new Date(document.getElementById("timeintervallpick1").value)
	date.setHours(parseInt(document.getElementById('timeinput241').value),parseInt(this.value));
	document.getElementById("myRange1").value=date.getTime()/1000;
	parseour1();
}



//Slider2
var slider = document.getElementById("myRange2");
var output = document.getElementById("output2");
output.innerHTML = '2019-01-30 13:23:20'; 

slider.oninput = function() {
	parseour();
} 

//dateformat input2
var dateinput2 = document.getElementById("timeintervallpick2");
dateinput2.oninput = function() {
	var date = new Date(this.value)
	date.setHours(parseInt(document.getElementById('timeinput243').value),parseInt(document.getElementById('timeinput244').value));
	document.getElementById("myRange2").value=date.getTime()/1000;
	parseour();
}

//timeformat input3
var timeformat3 = document.getElementById("timeinput243");
timeformat3.oninput = function() {
	var date = new Date(document.getElementById("timeintervallpick2").value)
	console.log(this.value)
	date.setHours(parseInt(this.value),parseInt(document.getElementById('timeinput244').value));
	document.getElementById("myRange2").value=date.getTime()/1000;
	parseour();
}

//timeformat input4
var timeformat4 = document.getElementById("timeinput244");
timeformat4.oninput = function() {
	var date = new Date(document.getElementById("timeintervallpick2").value)
	date.setHours(parseInt(document.getElementById('timeinput243').value),parseInt(this.value));
	document.getElementById("myRange2").value=date.getTime()/1000;
	parseour();
}

function parseour(){
var d2 = new Date(0);
  d2.setUTCSeconds(slider.value);
 if(d2.getMonth()<=9 && d2.getDate()>=9){
  stoptime = d2.getFullYear()+"-"+0+(parseInt(d2.getMonth())+1).toString()+"-"+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}

if(d2.getDate()<=9 && d2.getMonth()>=9){
  stoptime = d2.getFullYear()+"-"+(parseInt(d2.getMonth())+1).toString()+"-"+0+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}

if(d2.getDate()<=9 && d2.getMonth()<=9){
  stoptime = d2.getFullYear()+"-"+0+(parseInt(d2.getMonth())+1).toString()+"-"+0+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}
if (d2.getDate()>=9 && d2.getMonth()>=9){
stoptime = d2.getFullYear()+"-"+(parseInt(d2.getMonth())+1).toString()+"-"+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();}
output.innerHTML = stoptime;
document.getElementById('timeintervallpick2').value =stoptime.slice(0,10);
document.getElementById('timeinput243').value =d2.getHours();
document.getElementById('timeinput244').value =d2.getMinutes();

}

function parseour1(){
var d1 = new Date(0);
 d1.setUTCSeconds(slider1.value);
 if(d1.getMonth()<=9 && d1.getDate()>=9){
  starttime = d1.getFullYear()+"-"+0+(parseInt(d1.getMonth())+1).toString()+"-"+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}

if(d1.getDate()<=9 && d1.getMonth()>=9){
  starttime = d1.getFullYear()+"-"+(parseInt(d1.getMonth())+1).toString()+"-"+0+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}

if(d1.getDate()<=9 && d1.getMonth()<=9){
  starttime = d1.getFullYear()+"-"+0+(parseInt(d1.getMonth())+1).toString()+"-"+0+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}
if (d1.getDate()>=9 && d1.getMonth()>=9){
starttime = d1.getFullYear()+"-"+(parseInt(d1.getMonth())+1).toString()+"-"+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}
output1.innerHTML = starttime;
document.getElementById('timeintervallpick1').value =starttime.slice(0,10);
document.getElementById('timeinput241').value =d1.getHours();
document.getElementById('timeinput242').value =d1.getMinutes();

}
</script>

 

  </body>
</html>
