<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/graph.css' />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

<ul>
  <li><a href="/">Hem/kartan</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Grafalternativ</a>
    <div class="dropdown-content">
<div id="Checkboxes">
 <label class="container">Lufttemperatur
  <input type="checkbox"  checked="checked" id="airtemp">
  <span class="checkmark"></span>
</label>

<label class="container">Vägtemperatur
  <input type="checkbox"  checked="checked" id="Road_temp">
  <span class="checkmark"></span>
</label>

<label class="container">Luftfuktighet
  <input type="checkbox"  checked="checked" id="Air_humidity">
  <span class="checkmark"></span>
</label>

<label class="container">Vindhastighet
  <input type="checkbox"  checked="checked" id="Wind_speed">
  <span class="checkmark"></span>
</label> 

<label class="container">Nuvarande lufttemperatur
  <input type="checkbox" checked="checked" id="current_temp">
  <span class="checkmark"></span>
</label> 

<label class="container">Nuvarande vägtemperatur
  <input type="checkbox" checked="checked" id="current_road_temp">
  <span class="checkmark"></span>
</label> 

<label class="container">Nuvarande luftfuktighet
  <input type="checkbox" checked="checked" id="current_hum">
  <span class="checkmark"></span>
</label> 

<label class="container">Nuvarande vindhastighet
  <input type="checkbox" checked="checked" id="current_windspeed">
  <span class="checkmark"></span>
</label> 
</div>
    </div>
  </li>
</ul>



<p>Sliders för att justera tidsintervallet för graferna.</p>
<div id="slideroptions">

<div id="starttime">
<p>Starttime</p>
<p id="output1"></p>
<div class="slidecontainer1">
  <input type="range" min="1545230510" max="0" value="1" class="slider" id="myRange1">
</div>
</div>

<div id="stoptime">
<p>Stoptime</p>
<p id="output2"></p>
<div class="slidecontainer2">
  <input type="range" min="1545230510" max="0" value="1" class="slider" id="myRange2">
</div>
</div>
</div>
<button id="ButtonTimeIntervall" type="button" onclick="rungraphs(starttime,stoptime)">Time intervall</button> 


<div id="type1">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type1','airtemp')">X</button> 
  <canvas id="myChart1"></canvas>
</div>
<div id="type2">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type2','Road_temp')">X</button> 
  <canvas id="myChart2"></canvas>
</div>
<div id="type3">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type3','Air_humidity')">X</button> 
  <canvas id="myChart3"></canvas>
</div>
<div id="type4">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type4','Wind_speed')">X</button> 
  <canvas id="myChart4"></canvas>
</div>
<div id="type5">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type5','current_temp')">X</button> 
  <canvas id="myChart5"></canvas>
</div>
<div id="type6">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type6','current_road_temp')">X</button> 
  <canvas id="myChart6"></canvas>
</div>
<div id="type7">
  <button id="Canvashidebutton" type="button" onclick="hideelements('type7','current_hum')">X</button> 
  <canvas id="myChart7"></canvas>
</div>
<div id="type8">
 <button id="Canvashidebutton" type="button" onclick="hideelements('type8','current_windspeed')">X</button> 
  <canvas id="myChart8"></canvas>
</div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
 <script src="javascripts/map/stations.js"></script>
 <script src="javascripts/graph/getWeatherData.js"></script>
 <script type="text/javascript" src="/javascripts/graph/graphs.js"></script>
 
<script>


var stationsarrayid = [];
var stationname = [];
var thechosendata = window.opener.chosenStations;
for(var i=0;i<thechosendata.length;i++){
	stationsarrayid.push(thechosendata[i].id);
	stationname.push(thechosendata[i].name);
}


document.getElementById("myRange1").max = Math.floor(Date.now() / 1000);
document.getElementById("myRange2").max = Math.floor(Date.now() / 1000);


var currentDate = new Date();

var starttime='2019-01-20 13:12:12';
var stoptime='2019-01-23 13:23:20';


async function rungraphs(starttime, stoptime){
	var a = new Date(starttime.substring(0,10)+"T"+starttime.substring(11,)+"Z");
	var b = new Date(stoptime.substring(0,10)+"T"+stoptime.substring(11,)+"Z");
	if(+a < +b){
	//arrayclear
	await cleararrays();
	
	//canvasclear
	const canvasclearvar1 = document.getElementById('myChart1').getContext('2d');
        canvasclearvar1.clearRect(0,0, document.getElementById('myChart1').width, document.getElementById('myChart1').height);

	const canvasclearvar2 = document.getElementById('myChart2').getContext('2d');
        canvasclearvar2.clearRect(0,0, document.getElementById('myChart2').width, document.getElementById('myChart2').height);

	const canvasclearvar3 = document.getElementById('myChart3').getContext('2d');
        canvasclearvar3.clearRect(0,0, document.getElementById('myChart3').width, document.getElementById('myChart3').height);

	const canvasclearvar4 = document.getElementById('myChart4').getContext('2d');
        canvasclearvar4.clearRect(0,0, document.getElementById('myChart4').width, document.getElementById('myChart4').height);

	const canvasclearvar5 = document.getElementById('myChart5').getContext('2d');
        canvasclearvar5.clearRect(0,0, document.getElementById('myChart5').width, document.getElementById('myChart5').height);

	const canvasclearvar6 = document.getElementById('myChart6').getContext('2d');
		canvasclearvar6.clearRect(0,0, document.getElementById('myChart6').width, document.getElementById('myChart6').height);

	const canvasclearvar7 = document.getElementById('myChart7').getContext('2d');
		canvasclearvar7.clearRect(0,0, document.getElementById('myChart7').width, document.getElementById('myChart7').height);

	const canvasclearvar8 = document.getElementById('myChart8').getContext('2d');
		canvasclearvar8.clearRect(0,0, document.getElementById('myChart8').width, document.getElementById('myChart8').height);

    //functioncalls to get data
    await getWeatherData(stationsarrayid,starttime,stoptime,stationname);
    await getlatest(stationsarrayid,stationname);

	
	//functions to draw graphs
	await roadtemp();

	await airtemp();

	await humiditygraph();

	await windspeed();

	await currenttempgraph();

	await currentroadtempgraph();

	await currenthumgraph();

	await currentwindspeedgraph();
}
}

rungraphs(starttime,stoptime);


$(function () {
        $("#airtemp").click(function () {
            if ($(this).is(":checked")) {
                $("#type1").show();
              
            } else {
                $("#type1").hide();
                
            }
        });
    $("#Road_temp").click(function () {
            if ($(this).is(":checked")) {
                $("#type2").show();
              
            } else {
                $("#type2").hide();
                
            }
        });
    $("#Air_humidity").click(function () {
            if ($(this).is(":checked")) {
                $("#type3").show();
              
            } else {
                $("#type3").hide();
                
            }
        });
    $("#Wind_speed").click(function () {
            if ($(this).is(":checked")) {
                $("#type4").show();
              
            } else {
                $("#type4").hide();
                
            }
        });
    $("#current_temp").click(function () {
            if ($(this).is(":checked")) {
                $("#type5").show();
              
            } else {
                $("#type5").hide();
                
            }
        });
    $("#current_road_temp").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type6").show();
		      
		    } else {
		        $("#type6").hide();
		        
		    }
		});
    $("#current_hum").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type7").show();
		      
		    } else {
		        $("#type7").hide();
		        
		    }
	});
   $("#current_windspeed").click(function () {
		    if ($(this).is(":checked")) {
		        $("#type8").show();
		      
		    } else {
		        $("#type8").hide();
		        
		    }
	});
 });


function hideelements(id,box){
  var x = document.getElementById(id);
  x.style.display = "none";
  document.getElementById(box).checked = false;

}

//Slider1
var slider1 = document.getElementById("myRange1");
var output1 = document.getElementById("output1");
output1.innerHTML = '2019-01-20 13:12:12'; 


slider1.oninput = function() {
var d1 = new Date(0);
 d1.setUTCSeconds(this.value);
 if(d1.getMonth()<=9 && d1.getDate()>=9){
  starttime = d1.getFullYear()+"-"+0+(parseInt(d1.getMonth())+1).toString()+"-"+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}

if(d1.getDate()<=9 && d1.getMonth()>=9){
  starttime = d1.getFullYear()+"-"+(parseInt(d1.getMonth())+1).toString()+"-"+0+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}

if(d1.getDate()<=9 && d1.getMonth()<=9){
  starttime = d1.getFullYear()+"-"+0+(parseInt(d1.getMonth())+1).toString()+"-"+0+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}
if (d1.getDate()>=9 && d1.getMonth()>=9){
starttime = d1.getFullYear()+"-"+(parseInt(d1.getMonth())+1).toString()+"-"+d1.getDate()+" "+d1.getHours()+":"+d1.getMinutes()+":"+d1.getSeconds();
}
  output1.innerHTML = starttime;
} 

//Slider2
var slider = document.getElementById("myRange2");
var output = document.getElementById("output2");
output.innerHTML = '2019-01-30 13:23:20'; 


slider.oninput = function() {
 var d2 = new Date(0);
  d2.setUTCSeconds(this.value);
 if(d2.getMonth()<=9 && d2.getDate()>=9){
  stoptime = d2.getFullYear()+"-"+0+(parseInt(d2.getMonth())+1).toString()+"-"+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}

if(d2.getDate()<=9 && d2.getMonth()>=9){
  stoptime = d2.getFullYear()+"-"+(parseInt(d2.getMonth())+1).toString()+"-"+0+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}

if(d2.getDate()<=9 && d2.getMonth()<=9){
  stoptime = d2.getFullYear()+"-"+0+(parseInt(d2.getMonth())+1).toString()+"-"+0+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}
if (d2.getDate()>=9 && d2.getMonth()>=9){
stoptime = d2.getFullYear()+"-"+(parseInt(d2.getMonth())+1).toString()+"-"+d2.getDate()+" "+d2.getHours()+":"+d2.getMinutes()+":"+d2.getSeconds();
}
  output.innerHTML = stoptime;

} 

</script>

 

  </body>
</html>
