<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/map.css" />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id=map-container class="map-container">
      <div id="mapid" class="map"></div>
    </div>
    <script src="javascripts/map/province.js"></script>
    <script src="javascripts/map/stations.js"></script>
    <script src="javascripts/map/swedenStates.js"></script>
    <script src="javascripts/map/map.js"></script>
    
    <script>
        for(var i = 0; i < stations.length; i++){
          addStationToMap(stations[i]);
        }
        //L.geoJSON(statesData).addTo(map);

    </script>
  </body>
</html>
