<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/map.css" />


  </head>
  <body>
    <div id=map-container class="map-container">
      <div id="mapid" class="map"></div>
    </div>
    <script src="javascripts/map/province.js"></script>
    <script src="javascripts/map/stations.js"></script>
    <script src="javascripts/graph/getWeatherData.js"></script>
    <script src="javascripts/map/boundaryCanvas.js"></script>
    <script src="javascripts/map/map.js"></script>
    <script>
      getStations();
    </script>

  </body>
</html>
